{%extends 'base.html'%}

{%block title%}Signup{%endblock%}

{%block content%}
<form method="post">
    <div class="mb-3">
      <label for="emailInput" class="form-label">Email Address</label>
      <input type="email" class="form-control" id="emailInput", name="email" placeholder="Your email here">
    </div>
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="passwordInput" name="firstName" placeholder="Your first name here">
    </div>
    <div class="mb-3">
      <label for="password1Input" class="form-label">Password</label>
      <input type="password" class="form-control" id="password2Input" name="password1" placeholder="Password">
    </div>
    <div class="mb-3">
        <label for="password2Input" class="form-label">Password (Confirm)</label>
        <input type="password" class="form-control" id="password2Input" name="password2" placeholder="Re-enter password">
      </div>
    <button type="submit" class="btn btn-primary">Signup</button>
</form>
{%endblock%}